@model FortuneSystem.Models.Catalogos.CatTipoCamiseta

@{
	ViewBag.Title = "Details T-Shirt Type";

}

<style type="text/css">
	#flecha {
		cursor: auto;
	}

	dd {
		font-style: italic;
		font-size: 18px;
	}

	dt {
		font-size: 20px;
	}
</style>

<div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.TipoProducto)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TipoProducto)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DescripcionTipo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DescripcionTipo)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TipoGrupo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TipoGrupo)
		</dd>

	</dl>
</div>
<p>

</p>
