
@{
    ViewBag.Title = "Catalogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> Catalogs Administration </h2>
<br />
<br />
<div class="row">
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "colores")"> <img width="140" height="140"  class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/colores.png"> </a>
            <h2 style="padding-left: 10%;">Colors</h2>
</div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "tallas")"> <img width="140" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/size.png"></a>
            <h2 style="padding-left: 10%;">Sizes</h2>
</div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "cliente")"> <img width="140" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/cliente.png"></a>
            <h2>Customers</h2>
    </div><!-- /.col-lg-4 -->
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "clienteFinal")"> <img width="140" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/clientefinal.png"> </a>
        <h2>Customers PO</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "genero")"> <img width="200" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/genero.png"> </a>
        <h2 style="padding-left: 10%;">Gender</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "tela")"> <img width="140" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/telas.png"> </a>
        <h2 style="padding-left: 5%;">Fabrics</h2>
    </div><!-- /.col-lg-4 -->
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="@Url.Action("Index", "tipoCamiseta")"> <img width="220" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/tipoMangas.png"> </a>
        <h2>Type of shirt</h2>
    </div><!-- /.col-lg-4 -->
    <!--<div class="col-lg-4">
        <a href="@Url.Action("Index", "genero")"> <img width="140" height="140" class="rounded-circle" alt="Generic placeholder image" src="~/Content/img/noPhotoFound.png"> </a>
        <h2>G&eacute;nero</h2>
    </div>-->
    <!-- /.col-lg-4 -->
</div>
