@model FortuneSystem.Models.Pedidos.OrdenesCompra

@{
    ViewBag.Title = "WIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link type="text/css" rel="stylesheet" href="~/Content/jsgrid-1.5.3/dist/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/jsgrid-1.5.3/dist/jsgrid-theme.min.css" />
    <script type="text/javascript" src="~/Content/jsgrid-1.5.3/dist/jsgrid.min.js"></script>*@
@*<link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" />
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />*@

@*<link href="~/Content/kendoui.2019.1.220.core/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoui.2019.1.220.core/styles/kendo.default.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo.aspnetmvc.min.js"></script>*@

<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>


<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<!-- DevExtreme themes -->
<link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dx.light.css" />


<!-- DevExtreme library -->
<script type="text/javascript" src="~/Scripts/jszip.min.js"></script>
<script type="text/javascript" src="~/Scripts/dx.all.js"></script>


<script type="text/javascript" src="~/Scripts/general/dataWIP.js"></script>
<script type="text/javascript" src="~/Scripts/general/dataSourceWIP.js"></script>
<script type="text/javascript" src="~/Scripts/general/dataGeneralWIP.js"></script>

<style>
    .content {
        text-align: justify;
        margin-top: 25px;
    }

    #longtabs {
        margin-top: 20px;
    }

    #scrolledtabs {
        margin-top: 20px;
    }

    #tabs {
        margin-top: 60px;
    }

    .caption {
        font-size: 16px;
        padding-bottom: 3px;
        padding-left: 10px;
    }

    .left-aligned {
        text-align: left;
    }

    .colorCell {
        background-color: #ff0000;
        color: #000000;
    }

    img {
        height: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        height: 80% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .edit_driver {
    }

        .edit_driver:hover {
            color: white !important;
            background: #3479bf !important;
            border-radius: 15px;
        }

    .highAmountOrder_saleAmount {
        background-color: #FFBB00;
        color: #000000;
    }

    .myClass {
        vertical-align: middle !important;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
        padding: 20px;
        border: dotted 1px;
        white-space: nowrap;
        overflow-x: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .bntXls {
        margin-left: 30px;
        margin-top: 1px;
        width: 180px;
        height: 40px;
        border: none;
        font-size: 14px;
        font-weight: 600;
    }
    /* .dx-tabs .dx-tab {
        background-color: red;
    }*/
    .dx-theme-ios.dx-version-major-7 .dx-tabs .dx-tab:first-child {
        background-color: red;
    }

    #gridContainer {
        max-height: 800px;
    }
</style>
@{
    if (TempData["itemEditar"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["itemEditar"])), 'success', 5, null);

        </script>
    }
    if (TempData["itemEditarError"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["itemEditarError"])), 'error', 5, null);

        </script>
    }

    if (TempData["cancelarPO"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["cancelarPO"])), 'success', 5, null);

        </script>
    }

    <script type="text/javascript">

    </script>

}

</div>
<div id="espera" class="" style="display:none; z-index:999; position:absolute; top:0; left:0; width:100%; height:100%; background:white; opacity:0.6; ">
    <div id="" class="" style="float:left; background-image:url('../../Content/img/gif/preloader.gif'); background-repeat: no-repeat; width:300px; height:160px; position:absolute; left:45%; top:25%; "></div>
    <div id="" class="" style="float:left; font-size:2em; color:#3479bf; top:50%; position:absolute; left:36%; width:100%;">We are making the report, please wait a few seconds</div>
</div>
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">ART</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <img class="enlargeImageModalSource center" style="width: 50%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-left:8em; margin-right:5em; ">
    <div class="panel panel-primary" id="listaWIP">
        <div class="panel-heading">
            <h2>WIP</h2>
        </div>
        <br />
        <div id="botones"></div>
        <br />
        <div id="jsGrid"></div>

        <div class="demo-container">
            <!-- <div class="form-group has-feedback">

                <input class="btn btn-primary btnNuevo" title="WIP" id="downloadButton" type="button" value="REPORT WIP" />


            </div>-->
            @*<div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IdPeriodo, htmlAttributes: new { @class = "control-label " }) <br />
                    @Html.DropDownList("listPeriodo", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["listPeriodo"], new { @class = "form-control nuevo_po", @id = "selectYear", @name = "state" })
                    @Html.ValidationMessageFor(model => model.IdPeriodo, "", new { @class = "text-danger" })
                </div>*@

            <br />
            <button class="btn btn-primary bntXls" title="WIP" id="downloadButton" type="button">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> REPORT WIP
            </button>
            <br />
            <br />

            <!-- <p>
                <a id="reporte_WIP" href="#" class="btn btn-primary  btnNuevo" title="ADD NEW STYLE"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> REPORT WIP</a>
            </p>-->
            <div id="tabs" style="display:none">
                <div class="tabs-container"></div>
                <div class="content  dx-fieldset">
                    <div class="dx-field gridWip" style="display:inline;">

                        <div id="gridContainer"></div>
                        <div id="gridContainerShip"></div>

                        <div id="popup"></div>
                        <div id="popupTrims"></div>
                        <div id="popupPriceTrims"></div>
                        <div id="popupSuc"></div>
                        <div class="buttons"></div>
                        <br />
                        <div class="dx-field-value idTabs">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

	/*document.oncontextmenu = preventDefaultAction;

	function preventDefaultAction(event) {
		event = event || window.event;

		if (event.preventDefault) {
			event.preventDefault();
		}
		else {
			event.returnValue = false;
		}
	}*/

	/*window.addEventListener('touchmove', event => {
		console.log(event);
	}, { passive: true });*/

	window.addEventListener('wheel', event => {
		console.log(event);
	}, { passive: true });

/* window.addEventListener("wheel", func, {passive: true} );*/

    var IdSum;

    $(document).on("click", "#downloadButton", function () {
        $("#loading").css('display', 'inline');
        $.ajax({
            type: 'post',
            url: "@Url.Action("ObtenerReporteWIP", "Report")",
            cache: false,
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var bytes = new Uint8Array(data.FileContents);
                var blob = new Blob([bytes], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "WIP.xlsx";
                link.click();
            },
            complete: function () {
                $("#loading").css('display', 'none');
            }
        });
	});


	$(function () {

		$('#selectYear').change(function () {
				var text = $(this).find('option:selected').text();
				$("#tabs").css('display', 'inline');
                @*$.ajax('@Url.Action("List", "POSummary")', {
                data: { Genero: text},
                    method: 'GET',
                    success: function (result) {
                        var html = '';
                        $.each(result, function (key, item) {
                            html += '<tr>';
                            html += '<td class="mover"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></td>';
                            html += '<td class="datoTalla"><input type="text" id="f-talla" class="form-control talla" value="' + item.CatTallaItem.Talla + '"/></td>';
                            html += '<td class="datoTalla"><input type="text" name="l-cantidad" id="l-cantidad" class="form-control l-name01 numCantTall "  /></td>';
                            html += '<td class="datoTalla"><input type="text" name="e-extras" id="e-extras" class="form-control e-name01 numExtTall" value="' + 0 + '"/></td>';
                            html += '<td class="datoTalla"><input type="text" name="s-ejemplo" id="s-ejemplo" class="form-control s-name01 numEjmTall"  value="' + 0 + '"/></td>';
                            html += '<td><button type="button" id="btnDelete" class="deleteTalla btn btn btn-danger btn-xs" value="4">Delete</button></td>';
                            html += '</tr>';

                        });
                        $('.tbodyTallas').html(html);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    },
            }).done(function(data) {

            });*@
		});
		$("#tabs").css('display', 'inline');

            var output= FilterFecha();
            //Lista de Pedidos
            var ordenes = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function (loadOptions) {
					var d = $.Deferred();
					var periodo = $("#selectYear option:selected").val();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoPedido",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function (key, values) {
                    var d = $.Deferred();
                    var idSummary = key.InfoSummary.IdItems;
                    if (values.InfoSummary !== undefined) {
                        if (values.InfoSummary.FechaUCC !== null) {
                            RegistrarFechaUCC(d, values, idSummary);
                        }
                    } else if (values.CatComentarios !== undefined) {
                        if (values.CatComentarios.Comentario !== null) {
                            var tipoArchivo = "WIP";
                            RegistrarComentario(key, d, values, idSummary, tipoArchivo);
                        }
                    }
                    return d.promise();
                }
            });

            //Lista de Pedidos Shipping
            var ordersShipped = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function (loadOptions) {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoPedidoShipping",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function (key, values) {
                    var d = $.Deferred();
                    var idSummary = key.InfoSummary.IdItems;
                    if (values.InfoSummary !== undefined) {
                        if (values.InfoSummary.FechaUCC !== null) {
                            RegistrarFechaUCC(d, values, idSummary);
                        }
                    } else if (values.CatComentarios !== undefined) {
                        if (values.CatComentarios.Comentario !== null) {
                            var tipoArchivo = "SHIPPED";
                            RegistrarComentario(key, d, values, idSummary, tipoArchivo);
                        }
                    }
                    return d.promise();
                }
            });

            //Lista de Pedidos Canceled
            var ordersCancelled = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function (loadOptions) {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoPedidoCancelled",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function (key, values) {
                    var d = $.Deferred();
                    var idSummary = key.InfoSummary.IdItems;
                    if (values.InfoSummary !== undefined) {
                        if (values.InfoSummary.FechaUCC !== null) {
                            RegistrarFechaUCC(d, values, idSummary);
                        }
                    } else if (values.CatComentarios !== undefined) {
                        if (values.CatComentarios.Comentario !== null) {
                            var tipoArchivo = "CANCELLED";
                            RegistrarComentario(key, d, values, idSummary, tipoArchivo);
                        }
                    }
                    return d.promise();
                }
            });
            //Lista de comentarios TIPO WIP
            var comments = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function () {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoComentariosWIP",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function () {
                    throw 'not implemented';
                }
            });

            //Lista de comentarios TIPO SHIPPED
            var commentsShipped = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function () {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoComentariosShipped",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function () {
                    throw 'not implemented';
                }
            });

            //Lista de comentarios TIPO CANCELLED
            var commentsCancel = new DevExpress.data.CustomStore({
                loadMode: "raw",
                load: function () {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        url: "/WIP/ListadoComentariosCancelled",
                        dataType: "json",
                        success: function (data) {
                            d.resolve(data);
                        },
                        error: function (e) {
                            alert("error: " + e.responseText);
                        }
                    });
                    return d.promise();
                },
                update: function () {
                    throw 'not implemented';
                }
            });


            var gridOrdenes = GridWIP(ordenes, output, comments);

            //TABS

            var gridWip;
            var gridShip;
            var gridCancel;
        var tabsColor=  $("#tabs > .tabs-container").dxTabs({
                dataSource: tabs,
                selectedIndex: 0,
                onItemClick: function (e) {
                    var id = tabs[e.itemData.id].id;
                    if (id === 0) {
                        $(id).css("background-color", "#5F9DCD");
                        gridWip = GridWIP(ordenes, output, comments);
                        $(".idTabs").text(tabs[id].content);
                        $(".gridWip").css('display', 'inline');
                    } else if (id === 1) {
                        gridShip = GridShipping(ordersShipped, output, commentsShipped);
                        $(".idTabs").text(tabs[id].content);
                        $(".gridWip").css('display', 'inline');
                    } else if (id === 2) {
                        gridCancel = GridCancelled(ordersCancelled, output, commentsCancel);
                        $(".idTabs").text(tabs[id].content);
                        $(".gridWip").css('display', 'inline');
                    }
                }
        }).dxTabs("instance");


       // var tabsColor = $("#tabs > .tabs-container").find(".dx-tab");
        $(tabsColor[0]).css('background', 'green');
        $(tabsColor[1]).css('background', 'blue');
        $(tabsColor[2]).css('background', 'red');

            $("input[value*='Export']").click(function () {
               /* gridWip.exportToExcel(true);
                gridShip.exportToExcel(true);
                gridCancel.exportToExcel(true);*/
                $("#dataGridContainer").dxDataGrid("instance")
                    .on("exported", exportedHandler1)
                    .on("exported", exportedHandler2);

               /* var w1 = grid.exportExcel({ workbook: true });//export 1st grid into js workbook.
                var w2 = gridShip.exportExcel({ workbook: true });//export 2nd grid into js workbook.

                w1.sheets.push(w2.sheets[0]);//copy worksheet of 2nd workbook to 1st workbook.

                var blob = pq.excel.exportWb({ workbook: w1, type: 'blob' });//export 1st workbook into Excel file.
                saveAs(blob, "pqGrid.xlsx");*/
        });
        });




</script>






