@model IEnumerable<FortuneSystem.Models.Usuarios.CatUsuario>

@{
    ViewBag.Title = "USERS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    tr.highlighted td {
        background: #b3e0ff;
    }

    table thead {
        color: #fff;
        background-color: #006bb3;
    }

    th {
        color: #fff;
        background-color: #006bb3;
    }

    #nuevo-usuario {
        margin-left: 50px;
        margin-top: 1px;
        width: 160px;
        height: 40px;
        border: none;
        font-size: 15px;
        font-weight: 600;
    }

    .edit_driver {
    }

        .edit_driver:hover {
            color: white !important;
            background: #3479bf !important;
            border-radius: 15px;
        }


</style>

@{
    if (TempData["usuarioOK"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioOK"])), 'success', 5, null);

        </script>
    }
    if (TempData["usuarioError"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioError"])), 'error', 5, null);

        </script>
    }
    if (TempData["usuarioEditar"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEditar"])), 'success', 5, null);

        </script>
    }
    if (TempData["usuarioEditarError"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEditarError"])), 'error', 5, null);

        </script>
    }
    if (TempData["usuarioEliminar"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEliminar"])), 'success', 5, null);

        </script>
    }

}
</div>
<div class="modal fade" id="consulModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="consulModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">DETAILS USER</h2>
            </div>
            <div class="modal-body">
                <div id="ContenedorModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editarModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">EDIT USER</h2>
            </div>
            <div class="modal-body">
                <div id="ContenedorEditModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="crearModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="crearModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">ADD USER</h2>
            </div>
            <div class="modal-body">
                <div id="ContenedorCrearModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Are you sure to eliminate the user?</h2>
            </div>
            <div class="modal-body">
                <div id="ContenedorDeleteModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-left:20em; padding-right:10em;">
    <div class="panel panel-primary" id="consultaPO">
        <div class="panel-heading">
            <h3>
                User administration
            </h3>
        </div>
        <br />

        <p>

                <button type="button" class="btn btn-primary" id="nuevo-usuario" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> ADD NEW USER
                </button>
      
        </p>
        <br />
        <table class="table table-striped" id="tablaUsuarios">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NoEmpleado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombres)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoEmpleado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatRoles.Rol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a href="#" class="btn edit_driver edicion_driver btnEdit" data-value="@item.Id " title="Edit User"><span class="glyphicon glyphicon-edit " aria-hidden="true" style="padding: 0px !important;"></span></a> 
                            <a href="#" class="btn edit_driver edicion_driver btnSearch" data-value="@item.Id " title="Details User"><span class="glyphicon glyphicon-search " aria-hidden="true" style="padding: 0px !important;"></span></a> 
                            <a href="#" class="btn edit_driver edicion_driver btnDelete" data-value="@item.Id " title="Delete User"><span class="glyphicon glyphicon-trash " aria-hidden="true" style="padding: 0px !important;"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<script>
    $('#tablaUsuarios tr').click(function (e) {
        $('#tablaUsuarios tr').removeClass('highlighted');
        $(this).addClass('highlighted');
    });

    $(document).on('click', '.btnSearch', function () {
        $("#loading").css('display', 'none');
        var id = $(this).data("value");
        $('#consulModal').modal('show');
        $("#ContenedorModal").load("/Usuarios/Details/" + id, function () {
        });
    });

    $(document).on('click', '.btnEdit', function () {
        $("#loading").css('display', 'none');
        var id = $(this).data("value");
        $('#editarModal').modal('show');
        $("#ContenedorEditModal").load("/Usuarios/Edit/" + id, function () {
        });
    });

    $(document).on('click', '.btnDelete', function () {
        $("#loading").css('display', 'none');
        var id = $(this).data("value");
        $('#deleteModal').modal('show');
        $("#ContenedorDeleteModal").load("/Usuarios/Eliminar/" + id, function () {
        });
    });

    $(document).on('click', '#nuevo-usuario', function () {
        $("#loading").css('display', 'none');
        var id = $(this).data("value");
        $('#crearModal').modal('show');
        $("#ContenedorCrearModal").load("/Usuarios/CrearUsuario/" + id, function () {
        });
    });
</script>
